.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Square {
    height: 22px;
    width: 22px;
}

.black {
    background-color: black;
}

.gray {
    background-color: #999999;
}

.white {
    background-color: white;
}

.red {
    background-color: red;
}

.orange {
    background-color: #dd8811;
}

.brown {
    background-color: #885522;
}

.tan {
    background-color: #cc9977;
}

.yellow {
    background-color: #ffdd22;
}

.lime {
    background-color: greenyellow;
}

.green {
    background-color: #339955;
}

.pine {
    background-color: rgb(13, 73, 13)
}

.cyan {
    background-color: #33cccc;
}

.azure {
    background-color: #0077aa;
}

.blue {
    background-color:  blue;
}

.purple {
    background-color: #9944cc;
}

.magenta {
    background-color: #cc00cc;
}

.pink {
    background-color: #ee99aa;
}


.Grid {
    width: 176px;
    height: 176px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(8, 22px);
    grid-template-rows: repeat(8, 22px);
    margin: 16px;
    border: 3px solid black;
}
